/* Style for Logo Sharing App 
 * Author: Rick Henderson
 * Date Created: 20210106
*/

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: Azure;
}

* {
      border: initial;
      null- border: 1px dashed red;
    }
    .outlined-red {
      border: 1px dashed red;
    }
    
    body, header, section, article, nav, footer {
      background-color: initial;
      color: initial;
    }

body {
  width: 1140px;
  margin: 0 auto;
  background-color: bisque;
  padding: 0 24px 24px 24px;
  border: 1px solid grey;
}

h1 {
   padding: 24px 0;
   margin: 0;
}

header {
  
}
